header{
    font-family: $letra-secundaria;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    ul{
        padding-left: 0;
        li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            a{
                color:#fff;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    .logo{
        img{
            height: 12rem;
            width: 12rem;
        }
    }
}
