@media only screen and (max-width: 375px){
    .brand-logo{
        .brand-logo-inner{
            display: flex;
            justify-content: space-evenly;
        }
    }
    .sec3{
        .container{
            max-width: 365px;
            .sec3-slider{
                .slick-list{
                    .slick-track{
                        width: 7665px !important;
                        .item{
                            width: 365px !important;
                            img{
                                width: 365px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .sec4{
        .container{
            max-width: 365px;
        }
    }
}