@media only screen and (max-width: 425px){
    .banner{
        .text{
            h1{
                font-size: 35px;
            }
            p{
                font-size: 14px;
            }
            .btn{
                width: 150px;
                height: 35px;
                line-height: 35px;
                font-size: 12px;
            }
        }
    }
    
    .sec1{
        .sec1-inner{
            .text-left{
                h3{
                    font-size: 11px;
                    padding:5px;
                }
            }
            .text-right{
                p{
                    font-size: 13px;
                    padding-right: 5px;
                }
            }
        }
    }
    .sec2{
        .sec2-inner{
            display: flex;
            flex-direction: column;
            .img{
                img{
                    width: 250px;
                    height: 250px;
                    margin-top: 10px;
                }
            }
            .text{
                h2{
                    font-size: 20px;
                }
                .text-inner{
                    margin: 30px 0 0 0px;
                    &:before{
                        left: -30px;
                    }
                    p{
                        font-size: 16px;
                    }
                    .btn{
                        width: 150px;
                        height: 40px;
                        line-height: 30px;
                    }
                }
            }
        }
        &.left-right-sec:nth-child(odd) {
            .text {
                .text-inner {
                    margin: 30px 0px 0 0;
                    width: 100%;
                }
            }
        } 
    }
    .sec3{
        .container{
            max-width: 400px;
            .sec3-slider{
                .slick-prev{
                    right: 100px;
                    &.slick-arrow{
                        position: absolute;
                        top:-124px;
                        
                    }
                    &:before{
                        width: 50px;
                        height: 50px;
                    }
                }
                .slick-list{
                    .slick-track{
                        width: 4200px !important;
                        .item{
                            width: 200px !important;
                            img{
                                width: 200px !important;
                            }
                        }
                    }
                }
                .slick-next{
                    right: 40px;
                    top:-124px;
                    &:before{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
    .sec4{
        .container{
            max-width: 400px;
            .sec4-boxes{
                justify-content: space-around;
                .box{
                    min-height: 200px;
                    width: 45%;
                    h6{
                        text-align: center;
                    }
                    .img{
                        
                        img{
                            width: 169px;
                            height: 175px;
                            object-fit: fill;
                        }
                    }
                }
            }
        }
    }
}